{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img"
        width="200" height="200" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
          <p class="text-secondary">{{ user.first_name }} {{ user.last_name }}</p>
        </div>
        <div class="form-group">
          <form action="{% url "users:user_follow" user.username %}" method="POST">
            {% csrf_token %}
            {% if request.user != user %}
              {% if request.user not in user.followers.all %}
                <button type="submit" class="btn btn-outline-info">Subscribe</button>
              {% else %}
                <button type="submit" class="btn btn-outline-danger">Unsubscribe</button>
              {% endif %}
            {% endif %}
          </form>
        </div>
      </div>
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Description</legend>
              <p>{{ user.profile.description }}</p>
              <legend class="border-bottom mb-4">Posts</legend>
              {% if posts %}
                {% for post in posts %}
                  <a class="article-title" href="{{ post.get_absolute_url }}"><p>{{ post.title }}</p></a>
                {% endfor %}
              {% else %}
                <p>У {{ user.username }} пока нет постов.</p>
              {% endif %}
          </fieldset>
    </div>
{% endblock content %}

